name: Publish

on:
  release:
    types:
      - published
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: ${{ github.ref != 'refs/head/main' }}
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check-out
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build & publish image
        if: github.event_name == 'release'
        run: |
          export VERSION=$(sed 's/^.//' <<< ${{github.event.release.tag_name}})
          export REPO=$(sed 's/\(.*\)/\L\1/' <<< $GITHUB_REPOSITORY)
          docker build . -t ghcr.io/$REPO:latest -t ghcr.io/$REPO:$VERSION
          docker push ghcr.io/$REPO:latest
          docker push ghcr.io/$REPO:$VERSION
      - name: Build & publish image
        if: github.event_name == 'push'
        run: |
          export TIME=$(date +%s)
          export REPO=$(sed 's/\(.*\)/\L\1/' <<< $GITHUB_REPOSITORY)
          docker build . -t ghcr.io/$REPO:main -t ghcr.io/$REPO:$TIME
          docker push ghcr.io/$REPO:main
          docker push ghcr.io/$REPO:$TIME
